*{
    font-family: cursive;
    color: #ffffff;
}

h1{
    background-color: black;
}

h1 span{
    color: aqua;
}

h2{
    font-style: italic;
    text-align: center;
    background-color: blueviolet;
}

h3{
    text-align: right;
    text-decoration: underline;
    color: #000000;
    background-color: aqua;
}